{% extends 'baseUser.html.twig' %}

{% block title %}Hello in Fun Video{% endblock %}

{% block body %}

    {% for video in videos %}
        <article>
            <h1>{{ video.getTitle }}</h1>
            <iframe width="300" height="300" src="{{ video.getLien }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s); js.id = id;
                    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));
            </script>

            <!-- Your share button code -->
            <div class="fb-share-button"
                 data-href="https://www.sf.m3104.delias.com/fun-video"
                 data-layout="button_count">
            </div>
            {% for tag in video.tag %}
                <p>#{{ tag.name }}</p>
            {% endfor %}
            <p>{{ video.getCategory.getName }}</p>
        </article>
    {% endfor %}
{% endblock %}
