{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello TDAdminController!{% endblock %}
{% block body %}
    <h1>Edit Category</h1>

    {{ include('td_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('t_d_category_index') }}">back to list</a>

    {{ include('td_category/_delete_form.html.twig') }}
{% endblock %}
